*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bkn{
    background: rgb(12,0,92);
    background: linear-gradient(172deg, rgba(12,0,92,1) 0%, rgba(65,2,131,1) 0%, rgba(130,55,144,1) 100%);
}
.navbar-brand{
    opacity: 0.6;
}
.text-light{
    font-family: 'Raleway', sans-serif;
}
.title-margin{
    margin-bottom: 60px;
}
.bouton{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    width: 160px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    opacity: 0.8;
}
.bouton-page{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}